   /* this is a div class attribute */
   .h1{
    background-color: red;
    color: white;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}                        

/* #1  This is a class attribute */
   .h2{
    background-color: light rgb(255, 0, 0);
     font-family: Verdana, sans-serif; 
     } 

/* #2  This is an ID attribute */

/* #3  This is a class attribute but cooler (multiple classes in one) */

/* #4  This is a ID attribute */

/* #5  This is a class attribute */
























